@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

section {
    width: 100%;
    z-index: 1;
}

section h1 {
    text-align: center;
    margin-top: 2%;
    padding: 2%;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 70px;
    opacity: 0.8;
}

.carousel {
    position: relative;
    margin-top: 1%;
    align-self: center;
    width: 100%;
    /* display: flex;
    justify-content: center; */
}

.carousel__item {
    height: 60vh;
    background: rgba(128, 128, 128, 0);
    padding: 0.7em;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: #ffffff;
    /*opacity: 0;
    transition: opacity 0.5s;*/
    
}

.carousel__item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

.carousel__item--selected {
    display: block;
    position: sticky;
    block-size: auto;
    opacity: 1; 
}

.carousel__nav {
    width: 100%;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    left: 0;
    text-align: center;
}

.carousel__button {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: rgb(182, 182, 182);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.carousel__button--selected {
    background: rgb(97, 97, 97);
}

.carousel__item:not(.carousel__item--selected) {
display: none;
}

.api-temp {
    margin-top: 5%;
    padding-bottom: 5%;
    color: rgb(255, 214, 214);
    border-width: 1px;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
}