@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

body {
    background: rgb(229, 177, 177);
}


main {
    background: linear-gradient(to top, rgba(58, 1, 52, 0.999), #C08497);
    display: block;
    padding-top: 5vh;
}

.Titulo {
    text-align: center;
    vertical-align: middle;
    margin-top: 2%;
    padding: 2%;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 4.5vw;
    opacity: 0.8;
}

.Categorias-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin: 0px 7px 0px 7px;
}

article {
    color: rgb(255, 239, 253);
    text-align: center;
    align-self: center;
    border: 0px solid #000;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 10%;
    margin-top: 10%;

}

.imagen-producto {
    width: 30vw;
    height: 30vh;
    margin: auto;
    border-radius: 1px;
    text-align: center;
    object-fit: contain;
}


.imagen-producto img {
    max-width: 20vw;
    max-height: 100%;
    object-fit: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.info-producto {
    margin-top: 20px;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
}

.info-producto h1 {
    font-size: 2vw;
    font-weight: bold;
    margin-bottom: 10px;
}


.carrito {
    display: block;
    width: 14vw;
    margin: auto;
    padding: 8px 15px;
    background-color: #32012ed0;
    color: #fff;
    font-size: 1.5vw;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    opacity: 0.8;
}


.carrito:hover {
    font-size: 2vw;
    font-family: 'Bebas Neue', sans-serif;
    text-decoration: none;
}

.imagen-producto img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.imagen-producto img:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
