*{
    margin: 0;
    padding: 0;
}

body {
	background: linear-gradient(to bottom, rgb(229, 177, 177), rgba(58, 1, 52, 0.999));
	color: #000;
	font-family: 'Roboto', sans-serif;
}

.contenedor{
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-areas: "header"
                         "portada"
                         "footer";
}

.contenedor .portada{
    grid-area: portada;
    width: 100%;
    border-radius: 10px;
}