@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


*{
    margin: 0%;
    padding: 0%;
    
}


main {
    display: block;
    padding: 0vh;
    background: linear-gradient(to bottom, rgb(229, 177, 177), rgba(58, 1, 52, 0.999));
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


table {
    background-color: #ff89f5;
    border-collapse: collapse;
    width: 60vw;
    max-width: 60vw;
    margin: 2vw auto;
    font-family: Arial, sans-serif;
    height:auto;
    
  }

th, td {
    border: 0.1vw solid #51025d;
    padding: 0.8vw;
    text-align: left;
    color: #811bff;
    
  }

th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #001F3F;
}

a{
    text-decoration: none;
    color: #dddddd;
}

td:hover{
    background-color: #f2f2f2;
    color:#001F3F
}

a:hover{
    background-color: #f2f2f2;
    color:#001F3F
}

.menu {
    text-decoration: none;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2vw;
    width: max-content;
    margin: auto;
    background-color: rgba(58, 1, 52, 0.999);
    border-radius: 5%;
}



button{
    
    margin-right: 2vh;
    background-color: red; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 0.5vw 3vh; /* Relleno interno */
    border: none; /* Quita el borde */
    border-radius: 2vw; /* Borde redondeado */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Quita el subrayado predeterminado */
    display: inline-block; /* Mostrar como bloque en línea */
    font-size: 1vw; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    
}

.boton{
    
    color: #f2f2f2;
    margin-right: 2vh;
    background-color: #4CAF50; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 0.5vw 3vh; /* Relleno interno */
    border: none; /* Quita el borde */
    border-radius: 2vw; /* Borde redondeado */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Quita el subrayado predeterminado */
    display: inline-block; /* Mostrar como bloque en línea */
    font-size: 1vw; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
}

.nuevo{
    color: #f2f2f2;
    margin-right: 2vh;
    background-color: #001F3F50; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 0.5vw 3vh; /* Relleno interno */
    border: none; /* Quita el borde */
    border-radius: 2vw; /* Borde redondeado */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Quita el subrayado predeterminado */
    display: inline-block; /* Mostrar como bloque en línea */
    font-size: 1vw; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
}


/* img{
    width: 6vw;
    height: 10vh;
} */



