* {
    margin: 0%;
    padding: 0%;
}

body {
    background: rgb(229, 177, 177);
}

main {
    background-color: rgba(58, 1, 52, 0.999);
    padding-top: 23vh;

}

.videos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgba(58, 1, 52, 0.999);
}

iframe {
    margin-top: 3vh;
    margin-bottom: 3vh;
    border-width: 0px;
}