@media screen and(max-width:786px){
    .header .enlace{
        display: grid;
        grid-template-areas: "log ."
                             "lace1 lace2"
                             "lace3 lace4";
    }
}

.enlace .lace1{
    grid-area: lace1;
}
.enlace .lace2{
    grid-area: lace2;
}
.enlace .lace3{
    grid-area: lace3;
}
.enlace .lace4{
    grid-area: lace4;
}