/* .contenido .carrousel{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
}

h4, h2, small, a{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.contenido .carrousel{
    width: 100%;
    margin: 0px 0px;
}

@media(min-width: 768px){
    .carrousel{
        margin: 0px 60px;

    }
}

.contenido .carrousel h2{
    font-size: 45px;
    line-height: 38px;
    padding-bottom: 50px;
    opacity: .9;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    color: white;
}

.contenido .carrusel-list{
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 304px;
    padding: 10px 0px;
    margin: 0px auto;
    max-width: 90vh;
    overflow: hidden;
}

.contenido .carrusel-track{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}

.contenido .carrusel{
    position: relative;
    width: 210px;
    padding: 0 18px;
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 100%;
}

.contenido .carrusel h4{
    position: absolute;
    z-index: 1;
    font-size: 22px;
    line-height: 23px;
    color: white;
    padding: 15px;
}

.contenido h4 small{
    font-size: 15px;
    display: block;
}

.contenido .carrusel a img{
    object-fit: cover;
    height: 300px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    transition: .3s ease-in-out;
}

@media(min-width: 768px){
    .carrusel{
        width: 275px;
    }
    .carrusel a img{
        width: 250px;
    }
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.contenido h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 80px;
    color: white;
    background: #55206b;
    border-radius: 10px;
}

.contenido .carrousel{
    margin-top: 20px;
    display: grid;
    width: 100%;
    grid-gap: 60px;
    grid-template-areas: "img1 img2 img3"
                         "img4 img5 img6";
}

.contenido .img1{
    grid-area: img1;
}

.contenido .img2{
    grid-area: img2;
}

.contenido .img3{
    grid-area: img3;
}

.contenido .img4{
    grid-area: img4;
}

.contenido .img5{
    grid-area: img5;
}

.contenido .img6{
    grid-area: img6;
}

.carrousel img{
    display: grid;
    grid-gap: 20px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.carrousel h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    color: white;
}

.footer{
    margin-top: 30px;
}

/* .imagen-producto img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.imagen-producto img:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
} */

div img:hover{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}