<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../img/LOGOpng.ico">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/ingresar_pedidos.css">
    <link rel="stylesheet" href="../css/tabla_pedidos.css">
    <title>Edicion de pedidos</title>
</head>

<body>
    <div class="contenedor">
        <header class="header">
            <img class="logo" src="../img/LOGOpng.png" alt="">

            <nav class="enlaces">
                <a class="lace1" href="../index.html">Inicio</a>
                <a class="lace2" href="productos.html">Productos</a>
                <a class="lace3" href="videos.html">Videos</a>
                <a class="lace4" href="contacto.html">Contactenos</a>
                <a class="lace5" href="ingresar_pedido.html">Pedidos</a>
            </nav>
        </header>

        <main>
            <section>
    
                <div class="container-form">
                    <form>
                       
                        <div class="entrada">
                            <label for="id">ID</label>
                            <input type="number" name="id" id="id" disabled>
                        </div>
                
                        <div class="entrada">
                            <label for="nombre">Nombre</label>
                            <input type="text" name="nombre" id="nombre">
                        </div>
    
                        <div class="entrada">
                            <label for="precio">Precio:</label>
                            <input type="number" name="precio" id="precio">
                        </div>
    
                        <div class="entrada">
                            <label for="cantidad">Cantidad:</label>
                            <input type="number" name="cantidad" id="cantidad">
                        </div>
                        <div class="entrada">
                            <label for="direccion">Direccion:</label>
                            <input type="text" name="direccion" id="direccion">
                        </div>
    
                        
                        <button class="modificar" type="button" onclick="modificar()">Modificar</button>
                    </form>
              
              
                  </div>
    
            </section>
        </main>

        <footer class="footer">
            <a class="foot1" href="https://www.instagram.com/fitnesspowerfullpfgalvan/" target="_blank" rel="noopener"
                title="instagram"><img class="iconred" src="../img/instagram.png" alt=""></a>
            <a class="foot2" href="https://www.facebook.com/diego.accesori" target="_blank" rel="noopener"
                title="facebook"><img class="iconred" src="../img/facebook.png" alt=""></a>
            <a class="foot3" href="https://web.whatsapp.com/" target="_blank" rel="noopener" title="whatsapp"><img
                    id="iconred" src="../img/whatsapp.png" alt=""></a>
        </footer>

    </div>
<script src="../js/datos_editar.js"></script>
<script src="../js/editar_pedido.js"></script>
</body>
</html>
