<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../img/LOGOpng.ico">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/productos.css">
    <title>Productos</title>
</head>

<body>
    <div class="contenedor">
        <header class="header">
            <img class="logo" src="../img/LOGOpng.png" alt="">

            <nav class="enlaces">
                <a class="lace1" href="../index.html">Inicio</a>
                <a class="lace2" href="productos.html">Productos</a>
                <a class="lace3" href="videos.html">Videos</a>
                <a class="lace4" href="contacto.html">Contactenos</a>
                <a class="lace5" href="ingresar_pedido.html">Pedidos</a>
            </nav>
        </header>

        <main class="contenido">

            <div><h1>PRODUCTOS</h1></div>

            <div class="carrousel">
                <div class="img1">
                    <img src="../img/ProdMuestras/mancuernas1.1.jpeg" alt="">
                        <h2>Pesas</h2>
                </div>
                    
                <div class="img2">
                    <img src="../img/ProdMuestras/banco2.webp" alt="">
                        <h2>Bancos</h2>
                </div>

                <div class="img3">
                    <img src="../img/ProdMuestras/polea3.jpg" alt="">
                        <h2>Poleas</h2>
                </div>

                <div class="img4">
                    <img src="../img/ProdMuestras/discos4.jpg" alt="">
                        <h2>Discos</h2>
                </div>

                <div class="img5">
                    <img src="../img/ProdMuestras/barra5.png" alt="">
                        <h2>Barras</h2>
                </div>

                <div class="img6">
                    <img src="../img/ProdMuestras/registros.jpg" alt="">
                        <h2>Registros</h2>
                </div>
        </main>

        <footer class="footer">
            <a class="foot1" href="https://www.instagram.com/fitnesspowerfullpfgalvan/" target="_blank" rel="noopener"
                title="instagram"><img class="iconred" src="../img/instagram.png" alt=""></a>
            <a class="foot2" href="https://www.facebook.com/diego.accesori" target="_blank" rel="noopener"
                title="facebook"><img class="iconred" src="../img/facebook.png" alt=""></a>
            <a class="foot3" href="https://web.whatsapp.com/" target="_blank" rel="noopener" title="whatsapp"><img
                    id="iconred" src="../img/whatsapp.png" alt=""></a>
        </footer>

    </div>
</body>

</html>
