<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../img/LOGOpng.ico">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/videos.css">
    <title>Videos</title>
</head>

<body>
    <div class="contenedor">
        <header class="header">
            <img class="logo" src="../img/LOGOpng.png" alt="">

            <nav class="enlaces">
                <a class="lace1" href="../index.html">Inicio</a>
                <a class="lace2" href="productos.html">Productos</a>
                <a class="lace3" href="videos.html">Videos</a>
                <a class="lace4" href="contacto.html">Contactenos</a>
                <a class="lace5" href="ingresar_pedido.html">Pedidos</a>
            </nav>
        </header>

        <main class="contenido">

            <div><h1>VIDEOS DE MUESTRA</h1></div>

            <div class="carrousel">
                <div class="vid1">
                    <iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2F100063570084973%2Fvideos%2F854920895206187%2F&show_text=false&width=476&t=0" width="476" height="476" title="iframe"></iframe>
                        <!-- <h2>Video 1</h2>-->
                </div>
                    
                <div class="vid2">
                    <iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2F100063570084973%2Fvideos%2F2920177181583009%2F&show_text=false&width=476&t=0" width="300" height="476" title="iframe"></iframe>
                        <!--<h2>Video 2</h2>-->
                </div>

                <div class="vid3">
                    <iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2F100063570084973%2Fvideos%2F2891255991141795%2F&show_text=false&width=476&t=0" width="300" height="476" title="iframe"></iframe>
                       <!-- <h2>Video 3</h2>-->
                </div>

                <div class="vid4">
                    <iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2F100063570084973%2Fvideos%2F2882257378708323%2F&show_text=false&width=380&t=0" width="300" height="476" title="iframe"></iframe>
                       <!-- <h2>Video 4</h2>-->
                </div>

                <div class="vid5">
                    <iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2F100063570084973%2Fvideos%2F2834850003449061%2F&show_text=false&width=476&t=0" width="300" height="476" title="iframe"></iframe>
                       <!-- <h2>Video 5</h2>-->
                </div>

                <div class="vid6">
                    <iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2F100063570084973%2Fvideos%2F2777680265832702%2F&show_text=false&width=476&t=0" width="300" height="476" title="iframe"></iframe>
                       <!-- <h2>Video 6</h2>-->
                </div>  
                
        </main>

        <footer class="footer">
            <a class="foot1" href="https://www.instagram.com/fitnesspowerfullpfgalvan/" target="_blank" rel="noopener"
                title="instagram"><img class="iconred" src="../img/instagram.png" alt=""></a>
            <a class="foot2" href="https://www.facebook.com/diego.accesori" target="_blank" rel="noopener"
                title="facebook"><img class="iconred" src="../img/facebook.png" alt=""></a>
            <a class="foot3" href="https://web.whatsapp.com/" target="_blank" rel="noopener" title="whatsapp"><img
                    id="iconred" src="../img/whatsapp.png" alt=""></a>
        </footer>

    </div>
</body>

</html>
