<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <meta name="keywords" content="gimnasio,repuestos,fabricantes,aparatos,ejercicio,polea,regaton,tope"/>
    <meta name="description" content="venta de repuestos para aparatos de gimnasios">
    <link rel="shortcut icon" href="img/LOGOpng.ico" type="image/x-icon">

    <title>Videos</title>
    
    <link rel="stylesheet" href="../css/cabecera.css">
    <link rel="stylesheet" href="../css/videos.css">
    <link rel="stylesheet" href="../css/piedepagina.css">

  </head>
<body>
  <header id="header"></header>
        <main>  
           <section id="videos" class="videos">
              <iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2F100063570084973%2Fvideos%2F854920895206187%2F&show_text=false&width=476&t=0" width="476" height="476" title="iframe"></iframe>
              <iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2F100063570084973%2Fvideos%2F2920177181583009%2F&show_text=false&width=476&t=0" width="476" height="476" title="iframe"></iframe>
              <iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2F100063570084973%2Fvideos%2F2891255991141795%2F&show_text=false&width=476&t=0" width="476" height="476" title="iframe"></iframe> 
              <iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2F100063570084973%2Fvideos%2F2882257378708323%2F&show_text=false&width=380&t=0" width="476" height="476" title="iframe"></iframe>
              <iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2F100063570084973%2Fvideos%2F2834850003449061%2F&show_text=false&width=476&t=0" width="476" height="476" title="iframe"></iframe>
              <iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2F100063570084973%2Fvideos%2F2777680265832702%2F&show_text=false&width=476&t=0" width="476" height="476" title="iframe"></iframe>
           </section>
        </main>
    <footer>
        <a href="https://www.instagram.com/fitnesspowerfullpfgalvan/" target="_blank" rel="noopener" title="instagram"><img  class="iconred" src="../img/instagram.png" alt=""></a>
        <a href="https://www.facebook.com/diego.accesori" target="_blank" rel="noopener" title="facebook"><img class="iconred" src="../img/facebook.png" alt=""></a>
        <a href="https://web.whatsapp.com/" target="_blank" rel="noopener" title="whatsapp"><img id="iconred" src="../img/whatsapp.png" alt=""></a>
    </footer>
    <script src="../js/header.js"></script>
  </body>
</html>